<div>
  <mat-card-title  class="boader--color pl-3" > New Profit Center</mat-card-title>
  <mat-card-content class="p-2 m-0">
     <form [formGroup]="modelFormData" autocomplete="off">

      <div class="d--flex">
      <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.seqId.valid }" >
        <input matInput placeholder="Seq Id" formControlName="seqId" appFocusOnEnter tabIndex="1">
        <mat-error *ngIf="formControls.seqId.errors" class="help-block">
          <div *ngIf="formControls.seqId.errors.required">seqId is required </div>
        </mat-error>

      </mat-form-field>

      <mat-form-field class="form-element" [ngClass]="{ 'ng--valid': formControls.name.valid }">
        <input matInput placeholder="Name" formControlName="name" appFocusOnEnter tabIndex="2">
        <mat-error *ngIf="formControls.name.errors" class="help-block">
          <div *ngIf="formControls.name.errors.required">Name is required</div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Company Code</mat-label>
        <mat-select formControlName="companyCode">
          <mat-option *ngFor="let comp of companyList" [value]="comp.companyCode">
            {{comp.companyCode}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element" >
        <input matInput placeholder="code" formControlName="code" appFocusOnEnter tabIndex="3">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Address1" formControlName="address1" appFocusOnEnter tabIndex="4">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Address2" formControlName="address2" appFocusOnEnter tabIndex="5" >
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Address3" formControlName="address3" appFocusOnEnter tabIndex="6">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Address4" formControlName="address4" appFocusOnEnter tabIndex="7">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Place" formControlName="place" appFocusOnEnter tabIndex="6">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="State" formControlName="state" appFocusOnEnter tabIndex="7">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Pin Code" formControlName="pinCode" appFocusOnEnter tabIndex="8">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Phone1" formControlName="phone1" appFocusOnEnter tabIndex="9">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Phone2" formControlName="phone2" appFocusOnEnter tabIndex="10">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Phone3" formControlName="phone3" appFocusOnEnter tabIndex="11">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Email" formControlName="email" appFocusOnEnter tabIndex="12">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Responsible Person" formControlName="responsiblePerson" appFocusOnEnter tabIndex="13">
      </mat-form-field>
      <mat-form-field class="form-element" >
        <input matInput placeholder="Active" formControlName="active" appFocusOnEnter tabIndex="14">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div  class="form-element p-2 d-flex justify-content-end">
      <button mat-raised-button   class="mr-1" class="button-color-red text-white" [translate]="'COMMON.CANCEL'" (click)="cancel()">Cancel</button>
      <button mat-raised-button  type="submit" class="button-color-bule text-white ml-1" [translate]="'COMMON.SAVE'" (click)="save()" > Save</button>
    </div>

    </form>

  </mat-card-content>
</div>
