<mat-toolbar  class="bg-primary text-white">

  <div *ngIf="showImage" class="d-flex justify-content-between">
    <div>
      <img src="../../assets/CoreERP_icon.png" height="25">
      <span class="pl-2">CoreERP</span>
    </div>
    <div>
      <div>
        <mat-icon>info</mat-icon>
      </div>
    </div>
  </div>

  <div *ngIf="showExpandButton">
    <button mat-icon-button id="menu" (click)="commonService.openNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <div>
      <span>Welcome admin </span>

    </div>
  </div>

</mat-toolbar>
