<mat-toolbar class="bg-primary text-white">
  <mat-toolbar-row>
    <button
      *ngIf="showExpandButton"
      mat-icon-button
      id="menu"
      (click)="commonService.openNav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="container">
        <img src="../../assets/images/CoreERP_icon.png" height="25" />
        <span class="pl-2">CoreERP</span>
    </div>
        <button mat-button class="ml-2" >
          <mat-icon>account_circle</mat-icon>
         Welcome {{loginUser.username}}
        </button>
        
    <button class="ml-2" mat-button routerLink="/login">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
