mat-option {
  & > mat-pseudo-checkbox {
   display: none !important;
  }
}

.custom-dialog-container {
  & .mat-dialog-container {
    padding: 0px !important;
 }
}

.style-success {
  background: green;
}

.style-error {
  background: red;

}

.style-warning {
  background: yellow;

}

.style-normal {
  background: gray;
}

  // private configSucces: MatSnackBarConfig = {
  //   panelClass: ['style-succes'],
  // };

  // private configError: MatSnackBarConfig = {
  //   panelClass: ['style-error'],
  // };

  // private configError: MatSnackBarConfig = {
  //   panelClass: ['style-warning'],
  // };

  // private configError: MatSnackBarConfig = {
  //   panelClass: ['style-normal'],
  // };


